<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset ="utf-8">
    <title>Diákok Listája</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<header>
    <div class="logo">Iskolai Napló</div>
    <nav id="navbar">
        <ul>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <a th:href="@{/home.html}">Kilépés</a>
            </li>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <a th:href="@{/admin/students}">Diákok</a>
            </li>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <a th:href="@{/admin/subjects}">Tantárgyak</a>
            </li>
            <li th:if="${#httpServletRequest.remoteUser != null}">
                <a th:href="@{/admin/grades}">Jegyek</a>
            </li>
        </ul>
    </nav>

    <div class="user-info" id="userInfo" style="display:none;">
        Üdvözöljük, <span id="userName">Felhasználó</span>!
    </div>
</header>
<section class="page">
<h1>Diákok</h1>
<table>
    <thead>
    <tr>
        <th>Név</th>
        <th>Osztály</th>
        <th>Nem</th>
    </tr>
    </thead>
    <tbody>
    <!-- Diákok megjelenítése egyenként a listából -->
    <tr th:each="student : ${students}">
        <td th:text="${student.studentName}"></td>
        <td th:text="${student.className}"></td>
        <td th:text="${student.men ? 'Férfi' : 'Nő'}"></td>
    </tr>
    </tbody>
</table>
    </section>
<footer>
    <p>&copy; 2024 Gimnáziumi Naplókezelő Rendszer. Minden jog fenntartva.</p>
</footer>

<script th:inline="javascript">
    const isLoggedIn = /*[[${#httpServletRequest.remoteUser != null}]]*/ false;
</script>
</body>
</html>
