* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
}

.hero {
    background: url('../background.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(3, 3, 3);
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.cta-button {
    background: #3b603d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #4d7e4e;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
}

.feature-item {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    border-radius: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

@media (max-width: 768px) {
    .feature-grid {
        flex-direction: column;
    }

    .feature-item {
        width: 80%;
        margin: 10px auto;
    }
}