HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.jpb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Default ignored files
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
.idea/**
/idea/**
/idea/*
*.iml
.git/**
/.git/**
/.git/
/target/**
*.iml
.mvn/**
/.mvn/
mvnw
mvnw.cmd
mvnw.*
catalina.home_IS_UNDEFINED
logs/*

### TEMP ###
src/main/resources/keys/schema.key
deploy.bat
__pycache__