<div th:fragment="header">
    <div class="logo">Iskolai Napló</div>
    <nav id="navbar">
        <ul>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/users/register}">Regisztráció</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Bejelentkezés</a>
            </li>


            <li sec:authorize="hasRole('ROLE_TEACHER') or hasRole('ROLE_ADMIN')">
                <a th:href="@{/students}">Diákok</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/subjects}">Tantárgyak</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/grades}">Jegyek</a>
            </li>
            <li sec:authorize="isAnonymous() or (isAuthenticated() and hasRole('ROLE_STUDENT'))">
                <a th:href="@{/contact}">Írj üzenetet!</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                Bejelentkezve mint:
                <span sec:authentication="name"></span>
                <a th:href="@{/logout}">(Kilépés)</a>
            </li>
        </ul>
    </nav>
</div>
